// Variáveis
$bg-color: whitesmoke;
$panel-bg-color: lightgray;
$panel-border-width: 4rem;
$border-left-color: rgb(150, 150, 150);
$border-top-color: rgb(200, 200, 200);
$border-right-color: rgb(150, 150, 150);
$border-bottom-color: rgb(100, 100, 100);
$display-button-color: rgb(0, 20, 0);
$button-border: .5rem;
$ball-size: 40px;
$ball-color: darkgreen;
$button-color: rgb(45, 45, 45);

// Global
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

// Game
#root {
  width: 100vw;
  height: 100vh;
  background-image: url('./assets/bg-space.png');
  background-repeat: no-repeat;
  background-size: cover;
  @extend .container;

  .Game {
    width: 100%;
    height: 100%;
    @extend .container;
    justify-content: space-evenly;
    position: relative;

    .Modal {
      @extend .container;
      background-color: rgb(0, 0, 0, .5);
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;

      h2 {
        font-size: 3rem;
        font-weight: bold;
        text-align: center;
        color: white;
      }
    }

    .Panel {
      min-width: 350px;
      min-height: 400px;
      background-color: $panel-bg-color;

      border: $panel-border-width solid;
      border-radius: .5rem;
      border-left-color: $border-left-color;
      border-top-color: $border-top-color;
      border-right-color: $border-right-color; 
      border-bottom-color: $border-bottom-color;

      @extend .container;
      flex-direction: column;
      justify-content: space-between;

      .CurrentPosition {
        padding: 1.5rem 0;
        width: 100%;
        @extend .container;

        .Ball {
          margin: 0 .5rem;
          width: $ball-size;
          height: $ball-size;
          background-color: $ball-color;
          border: .6rem solid black;
          border-radius: 50%;
        }
      }

      .Display {
        padding: 25px;
        width: 100%;
        height: 250px;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(3, 1fr);

        .DisplayButton {
          // background-color: $display-button-color;
          background-image: radial-gradient(rgb(0, 30, 0), $display-button-color);
          border-radius: $button-border;
        }

        .DisplayButton:hover {
          cursor: not-allowed;
        }
      }

      .Buttons {
        @extend .Display;

        .button {
          // background-color: $button-color;
          background-image: radial-gradient(rgb(70, 70, 70), $button-color);
          border-radius: $button-border;
          transition-property: filter;
          transition-duration: .3s;
          cursor: pointer;
        }

        .button:hover {
          filter: brightness(75%);
        }
      }
    }
  }
}
